<h1 mat-dialog-title>{{translation.items.removeCategoryTitleLabel}}</h1>
<div mat-dialog-content>
  {{translation.items.removeCategorySubtitleLabel}} <strong>{{data.categoryName}} </strong>?
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onDeleteClick()">
    <mat-icon>delete</mat-icon>
    {{translation.items.yesLabel}}
  </button>
  <button mat-button (click)="onNoClick()">{{translation.items.noLabel}}</button>
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>
